<div class="budget-inspector-content">
    <div class="budget-breakdown ">
        <div id="ember1540" class="budget-inspector-category-header">
            <div class="budget-inspector-category">
                <div class="inspector-category-name user-data">
                    <div class="user-entered-text">
                        <h1>🛒 Groceries</h1>
                    </div>
                </div>
                <button class="inspector-category-edit" aria-label="Edit category: 🛒 Groceries"
                    aria-describedby="ember1541" type="button">

                    <svg class="ynab-new-icon fill-secondary" width="16" height="16">

                        <!---->
                        <use href="#icon_sprite_pencil"></use>

                    </svg>

                </button>
                <!---->
            </div>
            <!---->
        </div>

        <!----><!---->
        <!---->
        <section class="card budget-breakdown-available-balance ">

            <button class="card-roll-up" aria-expanded="true" aria-controls="controls-ember1542" type="button">

                <h2>
                    Available Balance

                    <svg class="ynab-new-icon card-chevron" width="12" height="12">

                        <!---->
                        <use href="#icon_sprite_chevron_down"></use>

                    </svg>

                    <button class="ynab-new-budget-available-number js-budget-available-number user-data
    positive
    " title="$341.21 You've funded your $750.00 target for the month!" aria-disabled="false" type="button">
                        <svg width="13" height="13" viewBox="-1 -1 2 2" class="icon-circle-progress complete"
                            xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="icon-circle-progress-clip-ember1543">
                                    <path class="checkmark" transform="scale(.015) rotate(90) translate(-35, -28)"
                                        d="M62.7217 10.8417L30.1078 58.1502C29.4223 59.1438 28.4948 59.977 27.3909 60.5596C26.2858 61.1429 25.0439 61.454 23.773 61.454C22.5022 61.454 21.2603 61.1429 20.1551 60.5596C19.0513 59.977 18.1247 59.1451 17.4392 58.1515L1.27863 34.7095C0.350892 33.4061 -0.0848857 31.8439 0.0136661 30.2872C0.113302 28.7133 0.756408 27.1933 1.8757 26.0008L1.91649 25.9574L1.95863 25.9151C2.66751 25.2047 3.53559 24.6456 4.50937 24.2916C5.484 23.9373 6.53103 23.8009 7.57331 23.8971C8.61533 23.9933 9.61275 24.3184 10.4957 24.838C11.3768 25.3567 12.1179 26.0535 12.6786 26.8673L23.7732 42.9608L51.3201 3.00222C51.8809 2.18833 52.6235 1.48932 53.5048 0.970699C54.3877 0.451064 55.3851 0.126086 56.4272 0.0299405C57.4695 -0.0662309 58.5165 0.0703119 59.4911 0.424682C60.4648 0.778745 61.3328 1.33782 62.0417 2.04835L62.0837 2.09048L62.1244 2.13382C63.2435 3.32618 63.8866 4.84599 63.9863 6.41967C64.0849 7.97627 63.6493 9.53835 62.7217 10.8417Z">
                                    </path>
                                </clipPath>
                            </defs>
                            <circle r=".9" cx="0" cy="0" stroke-width=".2" class="outer"></circle>
                            <circle r=".65" cx="0" cy="0" class="inner"
                                clip-path="url(#icon-circle-progress-clip-ember1543)"></circle>
                        </svg>
                        <span class="user-data currency tabular-nums positive "><bdi>$</bdi>341.21</span>
                    </button>
                </h2>

            </button>
            <div class="card-body" aria-hidden="false" id="controls-ember1542">

                <div class="ynab-breakdown">
                    <div tabindex="0">
                        <div>Cash Left Over From Last Month</div>
                        <div class="user-data" title="$0.00"><span
                                class="user-data currency tabular-nums zero"><bdi>$</bdi>0.00</span></div>
                    </div>

                    <div tabindex="0">
                        <div>
                            Assigned This Month
                        </div>
                        <div class="user-data" title="$750.00"><span
                                class="user-data currency tabular-nums positive">+<bdi>$</bdi>750.00</span></div>
                    </div>

                    <div tabindex="0">
                        <div>Cash Spending</div>
                        <div title="-$328.72"><span
                                class="user-data currency tabular-nums negative">−<bdi>$</bdi>328.72</span></div>
                    </div>
                    <div tabindex="0">
                        <div>Credit Spending</div>
                        <div title="-$80.07"><span
                                class="user-data currency tabular-nums negative">−<bdi>$</bdi>80.07</span></div>
                    </div>
                </div>
                <!---->

            </div>

        </section>

        <section class="card target-inspector-card ">

            <div id="ember1545" class="ynab-new-inspector-goals">
                <button class="card-roll-up" aria-expanded="true" aria-controls="controls-ember1546" type="button">

                    <h2>
                        <svg width="16" height="16" viewBox="-1 -1 2 2" class="icon-circle-progress complete"
                            xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="icon-circle-progress-clip-ember1547">
                                    <path class="checkmark" transform="scale(.015) rotate(90) translate(-35, -28)"
                                        d="M62.7217 10.8417L30.1078 58.1502C29.4223 59.1438 28.4948 59.977 27.3909 60.5596C26.2858 61.1429 25.0439 61.454 23.773 61.454C22.5022 61.454 21.2603 61.1429 20.1551 60.5596C19.0513 59.977 18.1247 59.1451 17.4392 58.1515L1.27863 34.7095C0.350892 33.4061 -0.0848857 31.8439 0.0136661 30.2872C0.113302 28.7133 0.756408 27.1933 1.8757 26.0008L1.91649 25.9574L1.95863 25.9151C2.66751 25.2047 3.53559 24.6456 4.50937 24.2916C5.484 23.9373 6.53103 23.8009 7.57331 23.8971C8.61533 23.9933 9.61275 24.3184 10.4957 24.838C11.3768 25.3567 12.1179 26.0535 12.6786 26.8673L23.7732 42.9608L51.3201 3.00222C51.8809 2.18833 52.6235 1.48932 53.5048 0.970699C54.3877 0.451064 55.3851 0.126086 56.4272 0.0299405C57.4695 -0.0662309 58.5165 0.0703119 59.4911 0.424682C60.4648 0.778745 61.3328 1.33782 62.0417 2.04835L62.0837 2.09048L62.1244 2.13382C63.2435 3.32618 63.8866 4.84599 63.9863 6.41967C64.0849 7.97627 63.6493 9.53835 62.7217 10.8417Z">
                                    </path>
                                </clipPath>
                            </defs>
                            <circle r=".9" cx="0" cy="0" stroke-width=".2" class="outer"></circle>
                            <circle r=".65" cx="0" cy="0" class="inner"
                                clip-path="url(#icon-circle-progress-clip-ember1547)"></circle>
                        </svg>
                        Target

                        <svg class="ynab-new-icon card-chevron" width="12" height="12">

                            <!---->
                            <use href="#icon_sprite_chevron_down"></use>

                        </svg>

                    </h2>

                </button>
                <div class="card-body" aria-hidden="false" id="controls-ember1546">

                    <div class="target-inspector">
                        <div class="target-inspector-header">
                            <!---->
                            <div class="header-bottom">
                                <h2 class="target-behavior">Set Aside Another $150.00 Each Week</h2>
                                <div class="target-by-date">By Saturday</div>
                            </div>
                        </div>

                        <hr>

                        <div class="donut-container">
                            <div class="donut-wrapper">

                                <svg class="ynab-new-icon progress-complete-icon" width="16" height="16">

                                    <!---->
                                    <use href="#icon_sprite_check_circle_fill"></use>

                                </svg>

                                <div class="donut" style="clip: rect(auto, auto, auto, auto);">
                                    <div class="left half-circle positive" style="transform: rotate(360deg);"></div>
                                    <div class="right half-circle positive" style="transform: rotate(180deg);"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                        </div>

                        <div class="impact-message positive">
                            <div class="impact-message-content">
                                You've met your target!
                            </div>
                            <!---->
                        </div>

                        <div class="target-breakdown">
                            <div class="target-breakdown-item">
                                <div class="target-breakdown-item-label">Amount to Assign This Month</div>
                                <div class="target-breakdown-item-value"><span
                                        class="user-data currency tabular-nums positive"><bdi>$</bdi>750.00</span></div>
                            </div>
                            <div class="target-breakdown-item">
                                <div class="target-breakdown-item-label">Assigned So Far</div>
                                <div class="target-breakdown-item-value"><span
                                        class="user-data currency tabular-nums positive"><bdi>$</bdi>750.00</span></div>
                            </div>
                            <hr>
                            <div class="target-breakdown-item">
                                <div class="target-breakdown-item-label">To Go</div>
                                <div class="target-breakdown-item-value"><span
                                        class="user-data currency tabular-nums zero"><bdi>$</bdi>0.00</span></div>
                            </div>
                        </div>

                        <button class="ynab-button secondary  " type="button">

                            Edit Target

                        </button>

                        <div class="goal-snooze">

                            <button class="ynab-switch off " role="checkbox" aria-checked="false" type="button">
                                <svg class="switch-toggle" xmlns="http://www.w3.org/2000/svg">
                                    <rect></rect>
                                    <circle></circle>
                                </svg>

                                Snooze target for this month

                            </button>

                            <span class="info-icon-tooltip" aria-describedby="ember1548">
                                <a href="#">

                                    <svg class="ynab-new-icon" width="16" height="16">

                                        <!---->
                                        <use href="#icon_sprite_question_mark_circle"></use>

                                    </svg>

                                </a>
                            </span>
                        </div>

                        <!---->
                    </div>

                </div>
            </div>

        </section>

        <!---->
        <!---->
        <!---->
        <section class="card budget-breakdown-auto-assign ">

            <button class="card-roll-up" aria-expanded="true" aria-controls="controls-ember1535" type="button">

                <h2>

                    <svg class="ynab-new-icon" width="16" height="16">

                        <!---->
                        <use href="#icon_sprite_lightning"></use>

                    </svg>

                    Auto-Assign

                    <svg class="ynab-new-icon card-chevron" width="12" height="12">

                        <!---->
                        <use href="#icon_sprite_chevron_down"></use>

                    </svg>

                </h2>

            </button>
            <div class="card-body" aria-hidden="false" id="controls-ember1535">

                <!---->
                <div class="inspector-quick-budget">
                    <div class="option-groups">
                        <div>
                            <button class="budget-inspector-button  assigned-last month" type="button">
                                <div>Assigned Last Month</div>
                                <div><strong class="user-data" title="$597.96"><span
                                            class="user-data currency tabular-nums positive"><bdi>$</bdi>597.96</span></strong>
                                </div>
                            </button>
                            <button class="budget-inspector-button  spent-last month" type="button">
                                <div>Spent Last Month</div>
                                <div><strong class="user-data" title="$620.68"><span
                                            class="user-data currency tabular-nums positive"><bdi>$</bdi>620.68</span></strong>
                                </div>
                            </button>
                            <button class="budget-inspector-button  average-assigned"
                                title="Feeling average? Fund all of your categories with your historical average assigned."
                                type="button">
                                <div>Average Assigned</div>
                                <div><strong class="user-data" title="$721.27"><span
                                            class="user-data currency tabular-nums positive"><bdi>$</bdi>721.27</span></strong>
                                </div>
                            </button>
                            <button class="budget-inspector-button  average-spent"
                                title="Assign your historical average spent. Though you're above average in my book."
                                type="button">
                                <div>Average Spent</div>
                                <div><strong class="user-data" title="$750.42"><span
                                            class="user-data currency tabular-nums positive"><bdi>$</bdi>750.42</span></strong>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="budget-inspector-button  set-available amount to zero"
                                title="Want to start from zero? Set the available amounts of all of your categories to $0.00, making the funds ready to assign. It's like a mini Fresh Start!"
                                type="button">
                                <div>Reset Available Amount</div>
                                <div><strong class="user-data" title="$0.00"><span
                                            class="user-data currency tabular-nums zero"><bdi>$</bdi>0.00</span></strong>
                                </div>
                            </button>
                            <button class="budget-inspector-button  reset-assigned amount"
                                title="Reset all assigned amounts for this month, in case you want a do-over."
                                type="button">
                                <div>Reset Assigned Amount</div>
                                <div><strong class="user-data" title="$0.00"><span
                                            class="user-data currency tabular-nums zero"><bdi>$</bdi>0.00</span></strong>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!---->
        <section class="card  ">

            <div class="inspector-notes ">
                <h2>Notes</h2>
                <p class="inspector-category-note user-data">
                    Enter a note...
                </p>
            </div>

        </section>

        <!---->
        <!---->
    </div>
</div>